<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.report.inter.mapper.UserLoginMapper">
  <resultMap id="BaseResultMap" type="com.data.report.pojo.UserLogin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="logintime" jdbcType="TIMESTAMP" property="logintime" />
    <result column="isuse" jdbcType="INTEGER" property="isuse" />
  </resultMap>
    <select id="getUser" resultType="com.data.report.pojo.UserLogin" parameterType="String">
        SELECT * FROM userlogin
        <where>
            username = #{name}
        </where>
    </select>



</mapper>